source https://api.nuget.org/v3/index.json

storage: none
framework: net60, net50, netcoreapp3.1, netstandard2.0, netstandard2.1

nuget Argu
nuget FParsec
nuget xunit
nuget xunit.runner.visualstudio
nuget fsunit.xunit
nuget unquote